
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(40, 45%, 80%);
    color: hsl(0, 0%, 15%);
    font: 150%/1.4 Helvetica, Arial, sans-serif;
    padding: 20px;
    letter-spacing: 10px;
  }
  svg {
    position: relative;
    color: hsl(0, 0%, 20%);
    width: 80vw;
    max-width: 35rem;
    width: 100%;
    height: auto;
    display: block;
  }

  svg#bee {
    color: hsl(0, 0%, 10%);
    position: absolute;
    width: 50px;
    height: auto;
  }
  
.flower-heart {
    background-color: #e6c419;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 248px;
    opacity: 0;
    animation: flowerHeart 3s ease-in-out 1 forwards;
    border-radius: 50%;
}

@keyframes flowerHeart {
    0%{ }
    50%{ }
    100%{ opacity: 1;}
}

/* body {

}   */
  
.well {
    width: 90%;
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    overflow: hidden;
    position: absolute;
    bottom: 60px;
}

.progress-bar {
    animation: progress 8s;
    padding: .3em;
    text-align: center;
    color: black;
    background-image: linear-gradient(135deg, black, #FF9F65, #e6c419);
    border-radius: 4px 4px 4px 4px;
    
}

@keyframes progress {
    from {
        width: 0;
        color: rgba(255,255,255,0);
    }
    to {
        width: 100%;
        color: rgba(255,255,255,1);
    }
}
